@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #F5F5F5;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

header nav {
    background-color: #40280a;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 25px;
}

header nav .logo li a {
    font-size: 32px;
    font-weight: 500;
}

header nav .navigation li {
    width: 100px;
    text-align: center;
    border-radius: 5px;
    transition: 0.15s;
}

header nav .navigation li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
}

header nav .navigation li:hover {
    background-color: #9B5C42;
}

main .hero {
    background-color: #40280a;
    padding: 0 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

main .hero div {
    width: 50%;
}

main .hero div h1 {
    font-family: "Borel", sans-serif;
    color: #F4C9AA;
    font-size: 48px;
}

main .hero div h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

main .hero div p {
    font-size: 18px;
}

main .hero div button {
    width: 175px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #CC570B;
    color: #40280a;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

main .hero div button:hover {
    background-color: transparent;
    color: #CC570B;
    border: solid 1px #CC570B;
}

main .hero img {
    width: 40%;
}

main .about {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    gap: 50px;
}

main .about img {
    width: 50%;
    border-radius: 50px;
}

main .about div h2 {
    color: #40280a;
    font-size: 36px;
    font-weight: 600;
}

main .about div span {
    display: block;
    width: 100px;
    border: solid 5px #CC570B;
    margin-bottom: 20px;
}

main .about div p {
    color: #40280a;
    font-weight: 300;
    font-size: 18px;
}

main .gallery {
    padding: 0 100px 75px;
    background-color: #F5F5F5;
}

main .gallery h2 {
    color: #40280a;
    font-size: 36px;
    font-weight: 600;
}

main .gallery span {
    display: block;
    width: 100px;
    border: solid 5px #CC570B;
    margin-bottom: 20px;
}

main .gallery .gallery-box {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

main .gallery .gallery-box a img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: 0.25s;
}

main .gallery .gallery-box a img:hover {
    transform: scale(1.015);
}

main .gallery .modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    z-index: 1;
    width: 100%; height: 100%;
    background-color: #000000CC;
    justify-content: center;
    align-items: center;    
}

main .gallery .modal:target {
    display: flex;
}